# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. PYTHON
2. SCALA
3. R

Some of the commonly used libraries used by Data Scientists include:

1. PANDAS
2. MATPLOTLIB
3. NUMPY

| Data Science Tools |
| ------------------ |
| HADOOP |
| MY SQL |
| MONGO DB|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [9]:
(200/60)

3.3333333333333335

__Objectives:__

* PYTHON
*  R
*  SQL

## AUTHOR

MUHAMMED SHEHEEN M T P